/* CSS - Cascading Style Sheets */

:root {
    --color-background: #F0F0F7;
    --color-primary-lighter: #6842C2;
    --color-primary-light: #48cae4;
    --color-primary: #0077b6;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secondary: #04d361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #7D83FF;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #37373f;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
    --mainColor: #0077b6;
    --colorClean: red;
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    background: var(--color-text-title);
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

#container {
    width: 90vw;
    max-width: 700px;
}

.wave {
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-width: 700px) {
     :root {
        font-size: 62.5%;
    }
}